<div class='wrapper'>
    <div class ='header'>
        <div class="header-bar">
            <a class="anng-logo-wrapper" href="http:/usc.edu">
                <img class="anng-logo" src="main-logo.jpg">
            </a>
        </div>
        <div class="command-bar">
            <ul class="top-nav">
                <li class="about"><a href="/about">About</a></li>
                <li class="project-members"><a href="/projectmembers">ProjectMembers</a></li>
                <li class="github"><a href="http://github.com/ayushmad">GitHub</a></li>
            </ul>
        </div>
    </div>
    <div class="site-banner">
    </div>
    <div class="site-dataset-list">
            <ul class="main-nav">
                <li class="congressional_data"><a href="/congressional_dataset">Congressional DataSet</a></li>
                <li class="wip"><a href="/wip">WorkInProgress</a></li>
            </ul>
    </div>
</div>
