// Place all the styles related to the InternetVisualization controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
    moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
}

.wrapper {
	width: 960px;
	margin: 0 auto;
}
    
.header{
	overflow: hidden;
}

.anng-logo-wrapper {
	display: block;
	float: left;
}

.command-bar {
    width: 770px;
    position:relative;
    float:left;
    margin: 3px, 15px, 6px, 0;
}

.top-nav {
    float: right;
    list-style-type: none;
}

.top-nav>li {
    float:left;
}

.top-nav>li+li{
    margin-left: 5px;
}

.top-nav>li>a{
    padding: 5px;
    font-size: 15px;
    font-weight: bold;
    color: #333333;
    text-decoration: none;
}

.top-nav>li>a:hover{
    color: orange;
}
.site-banner {
    background-image: url(internet_graph.png);
    width:100%;
    min-height: 300px;
}

.site-dataset-list {
    padding-top: 100px;
    width: 100%;
    margin-left: auto;
}

.main-nav>li>a{
    font-size: 30px;
    text-decoration: none;
    color: #333333;
    font-weight: bold;

}

.main-nav>li>a:hover{
    color: orange;
}

.main-nav{
    text-decoration: none;
    list-style-type: none;
}
/*
 * These are the visualization related CSS files they need to be arranged later
 */

#VizContainer {
  float: left;
  /* border: solid 1px;*/
  width: 1400px;
  height: 800px;
  padding: 5px;
  border: black solid 1px;
  border-radius: 20px;

}

.horizontalMenu {
    list-style-type: none;
}

.horizontalMenu > li{
    display: inline
   }

.horizontalMenu>li+li{
    margin-left: 5px;
}

.horizontalMenu>li>a{
    padding: 5px;
    font-size: 15px;
    font-weight: bold;
    color: #333333;
    text-decoration: none;
}

.horizontalMenu>li>a:hover{
    color: orange;
}

.verticalMenu {
    margin: 10px;
    list-style-type: none;
    float:left;
    margin-left: 5px;
}


.verticalMenu>li+li{
}

.verticalMenu>li>a{
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
    color: #333333;
    text-decoration: none;
}

.verticalMenu>li>a:hover{
    color: orange;
}

.basicTreeMap {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: auto;
  float: left;
  position: relative;
  width: 960px;
}
.basicTreeMapNodes {
  border: solid 1px white;
  font: 10px sans-serif;
  line-height: 12px;
  overflow: hidden;
  position: absolute;
  text-indent: 2px;
}

.tilfordTreeNode circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.tilfordTreeNode {
  font: 10px sans-serif;
}

.tilfordTreeLink {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

.dataModelVerticalMenu {
    margin: 10px;
    list-style-type: none;
    float:left;
    margin-left: 5px;
}


.dataModelVerticalMenu>li+li{
}

.dataModelVerticalMenu>li>a{
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
    color: #333333;
    text-decoration: none;
}

.dataModelVerticalMenu>li>a:hover{
    color: orange;
}

.dataModelVerticalMenu .subMenu{
    background: #C0C0C0;
    -moz-border-radius:10px;  /* for Firefox */
    -webkit-border-radius:10px; /* for Webkit-Browsers */
    border-radius:10px; /* regular */
    padding: 5px 5px 5px 5px;
}	

.dataModelVerticalMenu .subMenu:hover{
    background: #E0E0E0;
}	

.dataModelVerticalMenu .subMenu>ul{
    list-style-type: none;
    padding:0;
}
.dataModelVerticalMenu .subMenu>ul>li{
    overflow: hidden;
    padding-left: 10px;
    padding-right: 10px;
}
.dataModelVerticalMenu .subMenu>ul>li+li{
    margin-top: 10px;
}

.dataModelVerticalMenu .subMenu>ul>li .subMenuInput{
    float: right;
    width: 100px;
}
.dataModelVerticalMenu .subMenu>ul>li span {
    float: left;
}
.dataModelVerticalMenu .subMenu>ul>li button{
  float: right;
  width: 100px;
}


.TemporalGraphslink {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}

.TemporalGraphsnode circle {
  fill: #ccc;
  stroke: #fff;
  stroke-width: 1.5px;
}

.TemporalGraphsbanner {
   fill: #999999; 
   stroke: #FBB117;
   font-size: 30px;
}

.TemporalGraphsMergedlink {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}

.TemporalGraphsMergednode circle {
  fill: #ccc;
  stroke: #fff;
  stroke-width: 1.5px;
}


#barPlotBaseDiv {
	position: relative;
}

#barPlotLegend {
	position: absolute;
	z-index: 10;
}
#barPlotGraph{
	position: absolute;
}
#barPlotXaxis {
	position: absolute;
}

#scatterPlotBaseDiv {
	position: relative;
}

#scatterPlotLegend {
	position: absolute;
	z-index: 10;
}
#scatterPlotGraph{
	position: absolute;
}
#scatterPlotXaxis {
	position: relative;
}

.TemporalGraphStaticFlipbooklink {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}

.TemporalGraphStaticFlipbooknode circle {
  fill: #ccc;
  stroke: #fff;
  stroke-width: 1.5px;
}
