// Place all the styles related to the InternetVisualization controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
    moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
}

.wrapper {
	width: 960px;
	margin: 0 auto;
}
    
.header{
	overflow: hidden;
}

.anng-logo-wrapper {
	display: block;
	float: left;
}

.command-bar {
    width: 770px;
    position:relative;
    float:left;
    margin: 3px, 15px, 6px, 0;
}

.top-nav {
    float: right;
    list-style-type: none;
}

.top-nav>li {
    float:left;
}

.top-nav>li+li{
    margin-left: 5px;
}

.top-nav>li>a{
    padding: 5px;
    font-size: 15px;
    font-weight: bold;
    color: #333333;
    text-decoration: none;
}

.top-nav>li>a:hover{
    color: orange;
}
.site-banner {
    background-image: url(internet_graph.png);
    width:100%;
    min-height: 300px;
}

.site-dataset-list {
    padding-top: 100px;
    width: 100%
    margin-left:auto;
}

.main-nav>li>a{
    font-size: 30px;
    text-decoration: none;
    color: #333333;
    font-weight: bold;

}

.main-nav>li>a:hover{
    color: orange;
}

.main-nav{
    text-decoration: none;
    list-style-type: none;
}
